---
import "../styles/global.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="PixelPerfect - Agence web spécialisée en création de sites et applications web" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" href="../src/assets/icon.webp" />
    <title>{title}</title>
  </head>
  <body class="bg-gray-50 font-sans">
    <main>
      <slot />
    </main>
  </body>
</html>
